.background {
  background-image: url(/images/a-historia-da-mulher-no-mercado-fotografico.jpeg);
  height: 800px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-bottom: 80px; 
  margin-top: 90px;
  
}

.textDiv {
  position: absolute; 
  top: 200px;
  left: 250px;
  transform: translate(-50%, -50%);
  width: 50%;
  
}

.imgCard {
  width: 204px;
  height: 179px;
  margin-right: auto;
  margin-left: auto;
}
.h1 {
  text-align: left;
  color: rgba(43, 45, 66, 1);
  font-size: 50px;
  text-shadow: 0px 3px 2px white;
  font-weight: 900;
  margin-left: 330px;
  margin-top: 250px;
  
}
.h2 {
  color: #2b2d42;
  font-size: 50px;
  text-shadow: 2px 4px 2px lightgray;
  margin-bottom: 80px;
  font-weight: 700;
  
}
.spacer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.divSpace {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.pTittle {
  color: #2b2d42 ;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
.pText {
  color: #698396;
  font-size: 18px;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
  
}
.insideCard {
  padding-top: 20px;
  box-shadow: 9px 9px 15px 9px rgba(224,224,224,0.76);
}
.fit {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 980px;
 
}

/*.textCarrusel{
  font-size: 120px;
  color:#fff;
  font-weight: 900;
  margin-top: -300px;

}*/

.textCases {
  font-size: 50px;
  font-weight: 700;
  text-shadow: 2px 4px 2px lightgray;
  color: #2b2d42;
  margin-left: 750px;
  margin-top: 100px;
}

.cardCase{
  width: 1500px;
  height: 550px;
  background-color: #2b2d42;
  border-radius: 35px;
  margin-left: 200px;
  margin-top: 50px;

  
}
.cardCase > div:first-of-type{
  display: flex;
  justify-content: space-between;
}

.imgCardCase{
  width: 450px;
  height: 450px;
  border-radius: 35px;
  margin-left: -100px;
  margin-top: 25px;
  
}

.textCardCase{
  width: 500px;
  margin-top: 35px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.textCardCase2{
  width: 500px;
  margin-top: 35px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-align: right;
}


.nameCardCase{
  color: #fff;
  font-size: 25px;
  font-weight: 800;
}

.nameCardCase2{
  color: #fff;
  font-size: 25px;
  font-weight: 800;
  text-align: right;
}

.nameCardCase_{
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  margin-top: -30px;
}

.downCard{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer{
  background-color: #2b2d42;
  color: #fff;
  padding: 50px 100px;
  margin-top: 90px;
  font-size: 20px;
  font-weight: 700;
}

.linksContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

}

.ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.ul li{
  display: inline-block;
  margin: 0 35px;
  font-size: 20px;

}


@media screen and (max-width: 600px) {
  .h2 {
    font-size: 1.5rem;
  }
  .background {
    height: 200px;
  }
  .h1 {
    text-align: left;
    color: rgba(43, 45, 66, 1);
    font-size: 1rem;
    text-shadow: 0px 3px 2px white;
    font-weight: bolder;
  }
  .textDiv {
    position: absolute;
    top: 100px;
    left: 70px;
    transform: translate(-50%, -50%);
    width: 33%;
  }
}
