.layout {
  min-height: 100vh;
}

.nav_wrapper {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.meraki {
  font-size: 35px;
  font-weight: 900;
  margin: 0;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.avatar {
  text-align-last: right;
  margin-top: 15px;
  margin-right: 30px;
}

.item {
  color: white;
  padding: 50px 20px;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
.item:hover,
.item:focus {
  cursor: pointer;
  color: white;
  background-color: #161827;
  font-size: 1.1rem;
}
.item a {
  color: white;
  text-decoration: none;
}

.content {
  background: white;
  padding: 10px 30px;
}

.title {
  color: rgba(43, 45, 66, 1);
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  text-shadow: 2px 4px 2px lightgray;
}
.card_wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.insideCard {
  text-align: center;
  box-shadow: 5px 5px 5px #dddddd;
}

.imgCard {
  width: 120px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  object-fit: contain;
}

.pTittle {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
}
.pText {
  text-align: center;
  margin-top: 25px;
  font-size: 20px;
}
.stars {
  width: 100%;
  text-align: center;
}

.bnt_wrapper {
  display: flex;
  flex-direction: column;

  margin-top: 15px;
}

.button {
  border-radius: 10px;
  background: #9bbfb8;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 20px;
  height: 60px;
  box-shadow: 5px 5px 5px #dddddd;
  margin: auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 20px;
  width: 300px;
}
.button:focus,
.button:hover {
  outline: none;
  border: 1px solid #9bbfb8;
  box-shadow: 5px 5px 5px #dddddd;
  color: #9bbfb8;
}
.icon {
  fill: white;
  margin-left: 10px;
}

.button:focus .icon,
.button:hover .icon {
  fill: #9bbfb8;
}
