.regresar{
    color: #2b2d42;
    font-size: 18px;
    font-weight: 700;
    margin-top: 35px;   
}

.name{
    color: #2b2d42;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 0px 3px 2px rgb(156, 156, 156);
    
}